:root {
    --theme-color: linear-gradient(269.97deg, #F6F4EF -0.74%, #E0DBD0 99.98%);
}

body {
    font-family: 'Work Sans', sans-serif;
}

.site-background {
    background: url('../assets/Big-G.svg') fixed no-repeat right bottom, var(--theme-color);
    min-height: 100vh;
}

.site-margins {
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
}
@media (min-width: 640px) {
    .site-margins {
        padding-top: 139px;
        padding-right: 130px;
        padding-left: 130px;
    }
}
