<template>
  <NavbarDetail
      :is-requestable="detail.fields['Is requestable'] ?? false"
      :role="detail.fields['Role']"
      :name="detail.fields['Name']"
      @send-request="sendRequest"/>


  <div class="container pt-3 pb-14 flex justify-center">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
      <img class="object-cover h-96 w-96" :src="getProfileImage()">
      <div class="description pt-6 lg:pt-0">
        <blockquote class="quote">
          {{ detail.fields.Quote }}
        </blockquote>
        <div class="text pt-8">
          {{ detail.fields.Bio}}
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import NavbarDetail from "@/components/NavbarDetail.vue";
import {onMounted, reactive} from 'vue'
import {useRoute} from 'vue-router'
import {getApiUrl} from "@/shared/services";
import axios from "axios";
import router from "@/router";


const route = useRoute()
let detail = reactive({
  fields: {},
  createdTime: '',
  id: '',
})

onMounted(async () => {
  await getDetailUser(route.params.id);
})

const getDetailUser = async (userId) => {
  const urlDetail = getApiUrl("details")(userId);
  const response = (await axios.get(urlDetail)).data;
  detail.fields = response.fields
  detail.id = response.id
  detail.createdTime = response.createdTime
}

const getProfileImage = () => {
  if(typeof detail.fields['Profile image'] !== 'undefined') {
    return detail.fields['Profile image'][0].url
  }
  return ""
}

const sendRequest = async () => {
  const sendRequestUrl = getApiUrl("friendRequest");
  const response = await axios.post(sendRequestUrl, {fields: {}})
  if(response.status === 200) {
    alert("richiesta invata con successo");
    await router.back()
  }

}
/*

 */
</script>
<style scoped>
blockquote {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
}
blockquote::before {
  content: url('../assets/Quote-1.svg');
  top: 0;
  left: 0;
  margin-right: 10px;
}

blockquote::after {
  content: url('../assets/Quote-2.svg');
  bottom: 0;
  right: 0;
  margin-left: 10px;
}
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
}
</style>