<template>
  <div class="cards container py-10 flex justify-center">
    <div class="grid grid-cols-1 gap-12 xl:grid-cols-3">
      <UserCard
          v-for="(person, index) in people.records"
          :key="index"
          :person-id="person['id']"
          :is-requestable="person.fields['Is requestable'] ?? false"
          :profile-image="person.fields['Profile image'][0].url"
          :role="person.fields['Role']"
          :name="person.fields['Name']"
          :linkedin-url="person.fields['Linkedin url']"
          :twitter-url="person.fields['Twitter url']"
           />
    </div>
  </div>
</template>
<script setup>
import UserCard from "@/components/UserCard.vue";

import {getApiUrl} from "@/shared/services";
import {onMounted, reactive} from 'vue'
import axios from 'axios'


onMounted(async () => {
  await getLists();
})

let people = reactive({
  records: []
})

const getLists = async () => {
  const urlPeople = getApiUrl("lists");
  people.records = (await axios.get(urlPeople)).data.records;
}
</script>
