<template>
  <div class="navbar flex justify-between">
    <span>Meet our friends</span>

    <span class="small-g"/>
  </div>
</template>
<style scoped>

.navbar {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  border-bottom: 1px solid black;
}
.small-g {
  background: url('../assets/Small-G.svg') no-repeat;
  height: 30px;
  width: 30px;
  background-size: contain;
}
</style>