<template>
  <div class="navbar-detail">
   <div class="mb-2 flex justify-between">
     <span class="name"> {{ name }}</span>
     <span class="role invisible lg:visible"> {{ role }}</span>
     <button class="send-request cursor-pointer invisible lg:visible"
             :class="{ 'disabled': !isRequestable }"
             :disabled="!isRequestable"
             @click="emit('sendRequest')">
       Send Request
     </button>
   </div>
  </div>
  <div class="visible lg:invisible flex flex-col">
    <span class="role mt-2"> {{ role }}</span>
    <button class="send-request cursor-pointer mt-5"
            :class="{ 'disabled': !isRequestable }"
            :disabled="!isRequestable"
            @click="emit('sendRequest')"
    >
      Send Request
    </button>
  </div>
</template>
<script setup>
import {defineProps, defineEmits} from "vue";
const emit = defineEmits(['sendRequest'])
defineProps({
  isRequestable: Boolean,
  role: String,
  name: String,
})


</script>
<style scoped>
.navbar-detail {
  line-height: 40px;
  letter-spacing: -0.02em;
  border-bottom: 1px solid black;
}
.name {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}
.role {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #828282;
}
.send-request {
  background: #8DCC7B;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 32px;
  height: 40px;
  width: 130px;
  font-weight: 700;
  font-size: 13px;
}
.disabled {
  cursor: not-allowed;
  background: #8DCC7B;
  opacity: 0.5;
}
</style>
