<template>
  <div>
    <div class="user-card-container max-w-sm w-full lg:max-w-full cursor-pointer mb-10 lg:mb-0 lg:flex">
      <!-- Image -->
      <div
          class="h-72 lg:h-auto lg:w-48  bg-cover bg-no-repeat bg-center flex-none rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          :style="{ 'background-image': 'url(' + profileImage + ')' }"
          :title="name"
          @click="goToDetail(personId)"
      >
        <img class="is-friend" :src="isBlocked(isRequestable)" width="20px" height="auto" >
      </div>
      <!-- Content -->
      <div class="px-3 pt-3 lg:pt-0 flex flex-col justify-between">
        <div>
          <!-- Title & subtitle -->
          <div class="flex justify-between lg:pt-0">
            <div class="">
              <p class="text-gray-900 font-bold text-xl user-card-name"> {{ name }}</p>
              <p class="text-gray-400 font-bold mb-2 user-card-position"> {{ role }}</p>
            </div>
            <div class="flex visible xl:hidden">
              <img @click="goToSocial(linkedinUrl)" class="w-5 h-5 cursor-pointer mr-4" src="../assets/Linkedin.svg" alt="Linkedin Logo">
              <img @click="goToSocial(twitterUrl)" class="w-5 h-5 cursor-pointer" src="../assets/Twitter.svg" alt="Twitter Logo">
            </div>
          </div>
          <!-- Description -->
          <span class="user-card-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </span>
        </div>
        <!-- Social -->
        <div class="hidden xl:flex mt-10">
          <img @click="goToSocial(linkedinUrl)" class="w-8 h-8 cursor-pointer mr-4" src="../assets/Linkedin.svg" alt="Linkedin Logo">
          <img @click="goToSocial(twitterUrl)" class="8 h-8 cursor-pointer mr-4" src="../assets/Twitter.svg" alt="Twitter Logo">
        </div>
      </div>
    </div>

    <div class="divider mt-6" />
  </div>
</template>

<script setup>
import {defineProps} from 'vue'
import router from "@/router";

const isBlocked = (isRequestable) => {
  if(isRequestable) return require(`@/assets/Yes.svg`);

  return require(`@/assets/No.svg`);
}

defineProps({
  isRequestable: Boolean,
  personId: String,
  profileImage: String,
  role: String,
  name: String,
  linkedinUrl: String,
  twitterUrl: String,
})

const goToSocial = (socialLink) => {
  window.open(socialLink, '_blank');
}

const goToDetail = (personId) => {
  router.push({ name: 'Detail', params: { id:  personId} })
}
</script>

<style scoped>
.user-card-container {
  //border-bottom: 1px solid rgba(0, 0, 0, 0.5);
 //height: 450px;
  position: relative;
}
.divider  {
  height: 1px;
  width: 100%;
  position: relative;
  top: 20px;
  background: rgba(0, 0, 0, 0.5);
}
.user-card {
  position: relative;
  height: 400px;
}

.user-card-name {
  font-size: 20px;
}
.user-card-position,
.user-card-description {
  font-size: 12px;
}
.user-card-description {
  font-style: normal;
  font-weight: 400;
  display: block;
  line-height: 15px;
  letter-spacing: -0.05em;
}

.is-friend {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 10px;
  top: 20px;
}
</style>